/* Styles for screens smaller than 768px */

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: auto;
  padding: 0;
  margin: auto;
  overflow-x: hidden;
}

.rubik-doodle-shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
  padding: 1rem;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

header {
  color:  white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
  height: 60vh;
  overflow-x: hidden;
}

nav {
  overflow-y: hidden;
}

p {
  margin: 0 auto;
  max-width: fit-content;
}

section {
  padding: 1px;
}

table {
  background-color: #F0F0F0;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  border-collapse: collapse;
  border: 1px solid black;
  width: 30rem;
}

td {
  padding: 2px;
  margin: 3px;
  font-size: 80%;
  height: 5rem;
  border: 1px solid black;
  text-align: center;
}

footer {
  color: #F0F0F0;
  text-align: center;
  height: 5vh;
  width: 90vw;
  padding-top: 10rem;

}

#hero {
  height: 25rem; 
  width: 94vw; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 5px;
   background-image: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
}

#hero-text {
  text-align: center;
  color:  #333333;
  width: 70vw;
  font-size: large;
  line-height: 1.6;
  width: 90vw;
  height: 35vh;
  border-radius: 5px;
  margin: 0;
  font-weight: 500;
}

#hero-heading {
  color: black;
  font-size: large;
  font-family: "Rubik Doodle Shadow";
}

.page-heading {
  color: #F0F0F0;
  text-align: center;
}

.page-intro {
  color: #F0F0F0;
  text-align: center;
  padding: 1px;
  width: auto;
}

.menu {
  display: none; 
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.menu.open {
  display: block;

}

#hamburger-container {
  display: block;
}

.nav-link {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  font-size:x-large;
}

li {
  padding-left: 1rem;
  text-align: center;
}

.nav-link:hover {
  color: #FFD700;
  text-decoration: underline;
  text-shadow: 0px 0px 8px rgba(0, 210, 255, 0.6);
}

.link {
  color: #003366;
}

.link:hover {
  color: #FFD700;
  text-decoration: underline;
  text-shadow: 0px 0px 8px rgba(0, 210, 255, 0.6);
}


.primary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  padding: 10px 20px;
  border: none;
  line-height: 1;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: #003366;
  color: #F0F0F0;
}


.secondary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  padding: 10px 20px;
  line-height: 1;
  cursor: pointer;
  border-radius: 5px;
  background-color: #88C0D0;
  text-align: center;
  color: #F0F0F0;

}

#button-container {
  display: flex;
  justify-content: center;
}

#searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#hero-icon {
  text-shadow: 0px 0px 8px rgba(0, 210, 255, 0.6);
  color: black;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 0px;

}

.button-text {
  display: inline-block;
  line-height: 1;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
}

span {
  margin: 1rem;
}

input[type="checkbox"] {
  margin-right: 0.2rem; 
  margin-top: 0.1rem;
}

input {
  margin: 5%;
  padding: 5%;
}

input[type="text"] {
  width: 60vw;
}

input[type="number"] {
  width: 60vw;
}

.book-item {
  background-color: #F0F0F0;
  padding: 1rem;
  border: 1px solid #E0E0E0;
  margin: 1rem;
  border-radius: 5px;
  text-align: center;
}

/* Styles for screens larger than 768px */
@media only screen and (min-width: 768px) {
  #root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  #container {
    align-items: center;
    height: auto;
    margin-top: 15rem;
  }
  
  #hero {
    background-size: cover;
    height: 35rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #hero-text {
    text-align: center;
    font-size: x-large;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    height: 12rem;
    width: 60rem;
  }

  #hero-heading {
    font-size: xx-large;
  }

  .page-intro {
    width: 50rem;
  }
  
  .primary-button {
    padding: 5px 5px;
    border-radius: 5px;
    height: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
  }

  .primary-button:hover {
    color: #FFD700;
  }
  
  .secondary-button {
    margin: 1rem;
    padding: 0 16px;
    height: 36px;
    width: 15rem;
    text-align: center;
    color: #F0F0F0;
  
  }

  .secondary-button:hover {
    color: #003366;
  }
  
  #searchbar {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
  }
  
  header {
    position: absolute;
    top: 0;
    height: 12rem;
  }

  footer {
    margin-top: auto;
    width: 109.9%;
  }

  #hamburger-container {
    display: none;
  }

  .menu {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
  }

  .menu li {
    margin: 0 15px;
  }

  table {
    padding: 1rem;
    border: solid #E0E0E0 1px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .book-item {
    background-color: #F0F0F0;
    padding: 1rem;
    border: 1px solid #E0E0E0;
    margin: 0.8px;
    border-radius: 5px;
  }
  
  #books-display {
    border-radius: 5px;
    width: auto;
    background-color: #D8E6FF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0;
    background-color: rgb(237, 237, 237);
  }

  #collection-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    width: 100%;
  }

  #collection-container > * {
    flex: 1;
  }

  form {
    width: auto;
    border-radius: 5px;
    padding: 2rem;
    margin: 0;
    background-color: rgb(237, 237, 237);
  }

  .form-slide-in {
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    position: relative;
  }

  .form-slide-in.form-active {
    transform: translateX(0);
  }
  
  input[type="text"] {
    width: 15vw;
    height: 1vh;
    padding: 1%;
    margin: 1%;
  }
  
  input[type="number"] {
    width: 15vw;
    height: 1vh;
    padding: 1%;
    margin: 1%;
  }

}


