/* Styles for screens smaller than 768px */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 150vh;
  padding: 0;
  margin: auto;
}

body {
  padding: 1rem;
  background-color: #D8E6FF;
}

header {
  background-color: #D8E6FF;
  color:  #333333;
  width: 100%;
  margin: 0;
  height: 50vh;
  overflow-x: hidden;
}

nav {
  overflow-y: hidden;
}

section {
  padding: 1rem;
}

footer {
  color:  #333333;
  text-align: center;
  height: 5vh;
  bottom: 0;
  padding-top: 10rem;

}

#hero {
  background-image: url("./assets/bookshelf.avif");
  background-repeat: no-repeat;
  background-size: cover; /* Covers the entire section */
  background-position: center;
  height: 25rem; /* Suitable height for mobile */
  width: 100vw; /* Full width */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: white; /* Text color for contrast */
}

#hero-text {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  color:  #333333;
  width: 70vw;
  font-size: large;
  line-height: 1.6;
  width: 90vw;
  height: 35vh;
  margin: 0;
  padding: 1rem;
  font-weight: 500;
}

#hero-heading {
  color: white;
}

.page-heading {
  color:  #333333;
  text-align: center;
}

.page-intro {
  color: #333333;
  text-align: center;
}

.menu {
  display: none; 
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.menu.open {
  display: block;

}

#hamburger-container {
  display: block;
}

.link {
  color:  #333333;
  padding: 1rem;
  font-size:x-large;
}

.link:hover {
  color: #003366;
}

.primary-button {
  margin: 1rem;
  padding: 20px 20px;
  width: 20rem;
  background-color: #003366;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.secondary-button {
  margin: 1rem;
  padding: 10px 20px;
  width: 20rem;
  background-color: #88C0D0;
  text-align: center;
  color: white;

}


#searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;

}

input {
  padding: 1rem;
  width: 18rem;
  background-color: #F0F0F0;
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #333333;
  background-color: #F0F0F0;
}


/* Styles for screens larger than 768px */
@media only screen and (min-width: 768px) {
  #root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  #container {
    align-items: center;
    height: 50rem;
    margin-top: 15rem;
  }
  
  #hero {
    background-size: cover;
    height: 35rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #hero-text {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    width: 60rem;
    font-size: x-large;
    line-height: 1.6;
    padding: 2rem;
    font-weight: 500;
  }
  
  .primary-button {
    margin: 1rem;
    padding: 10px 20px;
    width: 10rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
  }
  
  .secondary-button {
    margin: 1rem;
    padding: 10px 20px;
    width: 10rem;
    text-align: center;
    color: white;
  
  }
  
  #searchbar {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
  }
  
  input {
    padding: 0.6rem;
    margin: 1rem;
  }
  
  header {
    position: absolute;
    top: 0;
    height: 15rem;
    color:  #333333;
  }
  
  footer {
    height: 5rem;
  }

  #hamburger-container {
    display: none;
  }

  .menu {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
  }

  .menu li {
    margin: 0 15px;
  }

  table {
    background-color: #F0F0F0;
    padding: 1rem;
    border: solid #E0E0E0 1px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .book-item {
    background-color: #F0F0F0;
    padding: 1rem;
    border: 1px solid #E0E0E0;
    margin: 1rem;
    border-radius: 5px;
  }
  
  #books-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }
  
  footer {
    color: black;
  }

}


